<% provide(:title, 'Help') %>
<div class="center hero-unit">
	<h1>Help</h1>
		<p>
			Get help on internet you use.
			If you don't know how, you can visit this web follow 
			<a href="http://tech.blog.framgia.com/vn"> Sample Blog</a>
		</p>
</div>
